body {
    background-image: url('../car/benzema.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
label,td,th{
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #050404;
}
thead{
  background-color: rgb(0, 0, 0);
}
tbody{
  background-color: rgb(0, 0, 0);
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #20152e;
  }